@import "src/sass/base/mixins"

.bankCard
  &__wrapper
    padding: 50px 0
    display: flex
    flex-direction: column
    row-gap: 35px
  &__h3
    @include text(100,20px,133%, #b4b1b1)
    font-family: Inter,sans-serif
  &__form
    display: flex
    flex-direction: column
    row-gap: 35px
  &__label
    display: flex
    flex-direction: column
    input
      padding-left: 15px
      height: 41px
      background: #EEEEEE
      border-radius: 4px
  &__span
    @include text(500,20px, 133%,#000)
  &__box
    margin: 0 auto
    text-align: center
    .btn
      display: flex
      text-align: center
      justify-content: center
      margin: 0 auto


@media (min-width: 640px)

@media (min-width: 768px)
  .bankCard
    max-width: 50%
    &__h3
      @include text(100,15px,133%, #b4b1b1)




@media (min-width: 1024px)
  .bankCard
    &__label:nth-child(2n)
      input
        width: 60%


@media (min-width: 1440px)




