@import "src/sass/base/mixins.sass"
.btn
  padding: 14px 50px
  min-width: 250px
  @include bg1
  &__text
    @include text20
    color: $color2C2C2C
  &_big
    @include text(800,14px,17px,#000)
    width: 330px
  &_btnUser
    width: 215px



  &_blue
    background: linear-gradient(0deg, #7EC9F5 0%, #3957ED 97.5%)
    .btn__text
      color: $colorFFF
  &_transparent
    background: $color0E0E0E
    position: relative
    &::before
      content: ""
      position: absolute
      top: -2px
      bottom: -2px
      left: -2px
      right: -2px
      @include bg1
      z-index: -1
    .btn__text
      background: linear-gradient(180deg, #FFE25A 0%, #FFA852 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      background-clip: text
      text-fill-color: transparent

@media (min-width: 640px)
  .btn
    padding: 8px 12px
    min-width: 130px
    @include text(600,11px,14px,#000000)
    &_btnUser
     width: 215px


@media (min-width: 640px)
  .btn
    &_big
     @include text(800,14px,17px,#000)
     width: 256px
    &__btnUser
     width: 215px

@media (min-width: 768px)
  .btn
    &_big
     @include text(800,14px,17px,#000)
     width: 284px
    &__text
     @include text(600,11px,14px,#000)
    &__btnUser
      width: 239px

@media (min-width: 1024px)
  .btn
    &__text
     @include text(600,11px,14px,#000)
    &_btnUser
       width: 239px


@media (min-width: 1440px)
  .btn
    &_big
     @include text(800,16px,19px,#000)
     width: 239px
    &__text
      @include text(600,11px,14px,#000)
    &_btnUser
      width: 239px




