@import "src/sass/base/mixins"
.discountsSection
  padding: 50px 0
  &__container
    padding: 50px 0
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    row-gap: 44px
  &__card
    width: 200px
    height: 300px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    row-gap: 12px
    text-align: center
  &__h2
    @include text17
    text-transform: uppercase
    margin-bottom: 20px
  &__h3
    @include text15
@media (min-width: 640px)
  .discountsSection
    &__title
      justify-content: center

    &__h2
      display: none
    &__container
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between

@media (min-width: 768px)

@media (min-width: 1024px)
  .discountsSection
    &__card
      width: 250px
      height: 300px

@media (min-width: 1440px)
  .discountsSection
    &__card
      width: 350px
      height: 350px