@import "src/sass/base/mixins"
.wrapperSection

 @media (min-width: 640px)
  .wrapperSection
     &__container
      display: flex
      align-items: center
      column-gap: 13px
      margin-bottom: 35px




  @media (min-width: 768px)
  .wrapperSection
   &__container
    display: flex
    justify-content: center
    margin-bottom: 41px

  @media (min-width: 1024px)
  .wrapperSection
   &__container
    display: flex
    justify-content: center
    margin-bottom: 56px

  @media (min-width: 1440px)
   .wrapperSection
    &__container
      display: flex
      justify-content: center
      margin-bottom: 45px
