@import "src/sass/base/mixins"
.shopSecond
  background: #FFFFFF
  box-shadow: 0 0 10.9672px rgba(0, 0, 0, 0.25)
  border-radius: 10.9672px
  padding: 14px 0 9px 0
  &__inst
    background: #F00073
    width: 27px
    height: 27px
    border-radius: 50%
  &__fc
    background: #1877F2
    border-radius: 50%
    width: 27px
    height: 27px
  &__wh
    background: #25D366
    border-radius: 50%
    width: 27px
    height: 27px
  &__h2
    @include text(600,11px,14px,#000000)
    margin: 7px 0 7px 0
    text-align: center
  &__btn
    display: flex
    justify-content: center
  &__num
    @include text(500,10px,13px,#000)
  &__numbers
    display: flex
    justify-content: center
    column-gap: 15px
  &__soc
    display: flex
    column-gap: 35px
    justify-content: center
    margin: 19px 0 0 0



@media (min-width: 640px)
  .shopSecond
    width: 184px
    height: 164px


@media (min-width: 768px)

@media (min-width: 1024px)

@media (min-width: 1440px)
