@import "src/sass/base/mixins"
.map
  iframe
    width: 100%
    height: 404px
  &__title
    padding: 25px 0 35px 0
  &__text
    display: flex
    flex-direction: column
    justify-content: center
    row-gap: 30px
    margin-top: 30px
    padding: 50px
  &__ul
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column
    row-gap: 7px
  &__li
    &_h
      margin-bottom: 10px
      @include text17

@media (min-width: 640px)
  .map
    &__title
      display: none
    &__container
      display: flex
      flex-direction: row-reverse
    &__text
      width: 50%
      padding: 70px 0 70px 120px
      justify-content: flex-start
      margin-top: 0
    &__google
      width: 50%


@media (min-width: 768px)

@media (min-width: 1024px)

@media (min-width: 1440px)
