@import "src/sass/base/mixins"
.cartSection
  &__h2
    @include Gilroy
    margin-bottom: 32px
    text-transform: uppercase
    text-align: center
    @include text(600,24px,29px,#000000)
  &__container
    padding: 30px 0 70px 0
  &__wrapper
    display: flex
    flex-direction: column
    row-gap: 20px
  &__wrapp
    margin-top: 30px
    display: flex
    justify-content: center
@media (min-width: 640px)
  .cartSection

    &__wrapper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      column-gap: 15px


@media (min-width: 768px)

@media (min-width: 1024px)
  .cartSection
    &__h2
      @include text(600,24px,29px,#000000)

@media (min-width: 1440px)
  .cartSection
    &__h2
      @include text(600,32px,38px,#000000)





