@import "src/sass/base/mixins.sass"
.cometSection
  .container
    padding: 0 0 49px 0
  &__h2
   @include text(500, 16px, 19px, #000)
   margin-bottom: 17px

  &__box
    padding: 12px 19px 14px 20px
    background: #FFFFFF
    box-shadow: 0 0 11.4996px rgba(0, 0, 0, 0.25)
    border-radius: 15.3327px
    display: flex
    flex-direction: column
    row-gap: 15px

  &__person
    display: flex
    column-gap: 15px
    width:  327px
  &__img
    width: 32px
    height: 32px
    border-radius: 50%
  &__name, &__txt
    @include text(500, 12px, 14px, #000)
  &__content
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 13px
    margin-top: 34px




@media (min-width: 640px)
  .cometSection
    &__container
      padding: 0 42px 0 0
    &__content
      flex-direction: row
      justify-content: center
      margin-top: 57px
      column-gap: 10px
    &__person
      display: flex
      column-gap: 15px
      width:  581px



@media (min-width: 768px)
  .cometSection
    &__container
      padding: 0 57px 0 0
    &__person
      display: flex
      column-gap: 15px
      width:  645px

@media (min-width: 1024px)
  .cometSection
    &__container
      padding: 0 34px  0 0
      display: flex
      align-items: center
      column-gap: 98px
    &__content
      flex-direction: column
    &__person
      display: flex
      column-gap: 15px
      width: 552px

@media (min-width: 1440px)
  .cometSection
    &__container
      padding: 0 52px 0 0
    &__person
      display: flex
      column-gap: 15px
      width:  790px